.container {
  padding-top: 80px;
  background: var(--color-white);
  font-size: 12px;
}
.minimal_container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}
.minimal_container form {
  width: 100%;
  display: flex;
  align-items: center;
}
.minimal_container form input {
  padding: 15px;

  border: 1px solid #e3dbdb;
  width: 80%;
}
.minimal_container form button {
  padding: 16px;
  flex-grow: 1;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}
.tips {
  display: flex;
  align-items: center;
  gap: 10px;
}
.histories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #efe8e8;
  padding: 10px 0;
}
.histories_description span:nth-child(1) {
  font-weight: bold;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 25px;
  background: red;
}

@media only screen and (max-width: 768px) {
  .minimal_container form {
    flex-direction: column;
    gap: 10px;
  }
  .minimal_container form button {
    width: 100%;
  }
  .minimal_container form input {
    width: 100%;
  }
}
