@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
body {
  background: var(--color-white);
}
a {
  text-decoration: none;
  color: var(--color-black);
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #447bcd;
}
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
